*~
/.deps/
/.libs/
/Makefile
/Makefile.in
/SDL2_ttf.pc
/SDL_ttf.lo
/SDL_ttf.o
/aclocal.m4
/autom4te.cache/
/compile
/config.log
/config.status
/configure
/glfont
/glfont.o
/libSDL2_ttf.la
/libtool
/showfont
/showfont.o
