*~
/.deps/
/.libs/
/Makefile
/SDL2_ttf.pc
/SDL_ttf.lo
/SDL_ttf.o
/autom4te.cache/
/confdefs.h
/config.log
/config.status
/conftest.c
/conftest.err
/glfont
/glfont.o
/libSDL2_ttf.la
/libtool
/result
/showfont
/showfont.o
